*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    color: #404040;
}

/*header met foto*/
.border{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    background-color: #4B483D;
    background-image: linear-gradient(to right,#4B483D, #9c9585);
    justify-content: space-between;
    align-items: flex-end;
   
}
div.polaroid {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    margin-left: 70px;
    margin-top: 20px;
    position: relative;
    animation-name: example;
    animation-duration: 4s; 
}
.grayscale {
    filter: grayscale(60%);
}
div.container {
    text-align: center;
    padding: 10px 20px;
}
.container p{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: #E4C6BE;
    text-shadow: 2px 2px 4px #4B483D;
    font-size: 2rem;
}
@keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:lightgray; left:100px; top:0px;}
    50%  {background-color:darkgrey; left:100px; top:80px;}
    75%  {background-color:#E4C6BE; left:0px; top:80px;}
    100% {background-color:white; left:0px; top:0px;}
  }
.name{
    display: flex;
    flex-direction: column;
    font-family: 'Calligraffitti', cursive;
    color: #FFFFFF;
} 
h1{
 
    font-size: 3rem;
    margin-right: 60px;
} 
h2{   
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
    margin-right: 60px; 
    margin-bottom: 50px;    
}
/*begin midden-links*/
/*persoonlijke gegevens*/
.middle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
.column-left{
    width: 35%;
    background-color:  #E4C6BE;
    background-image: linear-gradient( #E4C6BE, #FFFFFF);
    padding-left: 20px;
}
.personal-box-list ul{
    height: 400px;
    text-align: left;
    padding-top: 50px;   
}
.personal-box-list ul li{
    list-style: none;
    font-family: 'Fira Sans', sans-serif; 
    margin-left: 50px;
}
/*opleiding*/
.education{
    height: auto;
    text-align: left;
    padding-top: 10px;
    line-height: 300%; 
    padding-left: 50px;
}
.education-title{
    font-size: 2rem;
}
.education-title ul{
    height: 100px;
    text-align: left;
    padding-top: 50px;
    line-height: 300%; 
    list-style: none;  
}
.education-title ul li{
    font-family: 'Fira Sans', sans-serif; 
    margin-left: 50px;
}
/*vaardigheden*/
.skills{
    height: auto;
    text-align: left;
    padding-top: 10px;
    line-height: 300%; 
    padding-left: 50px;
}
.skills-title{
    font-size: 2rem;
}
.skills-title ul{
    height: 100px;
    text-align: left;
    padding-top: 50px;
    line-height: 300%; 
}
.skills-title ul li{
    font-family: 'Fira Sans', sans-serif; 
    margin-left: 50px; 
}
/*rechtse kolom*/
.column-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    width: 65%;
    height: auto;
}
.border-profiel{
    font-size: 3rem;
    font-family: 'Fira Sans', sans-serif; 
    padding-left: 20px;
    padding-top: 20px;  
}
.profiel-title{
    border-bottom: 1px solid pink;
    margin-right: 80px;
    margin-bottom: 20px;
}
li{
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif; 
    line-height: 150%; 
    list-style: none;
    padding-right: 60px;
    margin-bottom: 20px;
}
/*werkervaring*/
.work-experience{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 20px;
    height: auto;
}
.experience-title{
    border-bottom: 1px solid #E4C6BE;
    margin-right: 80px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Fira Sans', sans-serif; 
}
.list-experience{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;    
}
.box-experience{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;
    justify-content: space-between;
    width: 100%;
}
.periode{   
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif; 
    margin-bottom: 10px;
}  
.werkspace{   
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;  
   
} 
.employer{
    font-style: italic;
    font-size: 1rem;
}
.functie{
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 10px;
}
.omschrijving{
   
}